{% extends "layout.html" %}
{% block content %}
<body class="test">
    <form action="/guardar" method="POST">
        <input type="hidden" name="examen_id" value="{{ examen_id }}">
        1. {{pregunta1}}<br>
        <input type="radio" name="p1" value="1a" required> {{p1_resp1}} <br>
        <input type="radio" name="p1" value="1b" required> {{p1_resp2}} <br>
        <input type="radio" name="p1" value="1c" required> {{p1_resp3}} <br>
        <br>
        
        2. {{pregunta2}}<br>
        <input type="radio" name="p2" value="2a" required> {{p2_resp1}} <br>
        <input type="radio" name="p2" value="2b" required> {{p2_resp2}} <br>
        <input type="radio" name="p2" value="2c" required> {{p2_resp3}} <br>
        <br>
        
        3. {{pregunta3}}<br>
        <input type="radio" name="p3" value="3a" required> {{p3_resp1}} <br>
        <input type="radio" name="p3" value="3b" required> {{p3_resp2}} <br>
        <input type="radio" name="p3" value="3c" required> {{p3_resp3}} <br>
        <br>
        
        4. {{pregunta4}}<br>
        <input type="radio" name="p4" value="4a" required> {{p4_resp1}} <br>
        <input type="radio" name="p4" value="4b" required> {{p4_resp2}} <br>
        <input type="radio" name="p4" value="4c" required> {{p4_resp3}} <br>
        <br>
        
        5. {{pregunta5}}<br>
        <input type="radio" name="p5" value="5a" required> {{p5_resp1}} <br>
        <input type="radio" name="p5" value="5b" required> {{p5_resp2}} <br>
        <input type="radio" name="p5" value="5c" required> {{p5_resp3}} <br>
        <br>
        
        6. {{pregunta6}}<br>
        <input type="radio" name="p6" value="6a" required> {{p6_resp1}} <br>
        <input type="radio" name="p6" value="6b" required> {{p6_resp2}} <br>
        <input type="radio" name="p6" value="6c" required> {{p6_resp3}} <br>
        <br>
        
        7. {{pregunta7}}<br>
        <input type="radio" name="p7" value="7a" required> {{p7_resp1}} <br>
        <input type="radio" name="p7" value="7b" required> {{p7_resp2}} <br>
        <input type="radio" name="p7" value="7c" required> {{p7_resp3}} <br>
        <br>
        
        8. {{pregunta8}}<br>
        <input type="radio" name="p8" value="8a" required> {{p8_resp1}} <br>
        <input type="radio" name="p8" value="8b" required> {{p8_resp2}} <br>
        <input type="radio" name="p8" value="8c" required> {{p8_resp3}} <br> 
        <br>
        
        9. {{pregunta9}}<br>
        <input type="radio" name="p9" value="9a" required> {{p9_resp1}} <br>
        <input type="radio" name="p9" value="9b" required> {{p9_resp2}} <br>
        <input type="radio" name="p9" value="9c" required> {{p9_resp3}} <br> 
        <br>
        
        10. {{pregunta10}}<br>
        <input type="radio" name="p10" value="10a" required> {{p10_resp1}} <br>
        <input type="radio" name="p10" value="10b" required> {{p10_resp2}} <br>
        <input type="radio" name="p10" value="10c" required> {{p10_resp3}} <br>
        <br>
        
        <center> <button type="submit" class="button">Submit</button> </center>
    </form>
</body>
{% endblock %}
