{% extends "layout.html" %}
{% block content %}
<body class="test">
    <form action="/guardar" method="POST">
        <input type="hidden" name="examen_id" value="{{ examen_id }}">

        1. {{pregunta1}}<br>
        <input type="radio" name="p1" value="1a"> {{p1_resp1}} <br>
        <input type="radio" name="p1" value="1b"> {{p1_resp2}} <br>
        <input type="radio" name="p1" value="1c"> {{p1_resp3}} <br>
        <br>
        
        2. {{pregunta2}}<br>
        <input type="radio" name="p2" value="2a"> {{p2_resp1}} <br>
        <input type="radio" name="p2" value="2b"> {{p2_resp2}} <br>
        <input type="radio" name="p2" value="2c"> {{p2_resp3}} <br>
        <br>
        
        3. {{pregunta3}}<br>
        <input type="radio" name="p3" value="3a"> {{p3_resp1}} <br>
        <input type="radio" name="p3" value="3b"> {{p3_resp2}} <br>
        <input type="radio" name="p3" value="3c"> {{p3_resp3}} <br>
        <br>
        
        4. {{pregunta4}}<br>
        <input type="radio" name="p4" value="4a"> {{p4_resp1}} <br>
        <input type="radio" name="p4" value="4b"> {{p4_resp2}} <br>
        <input type="radio" name="p4" value="4c"> {{p4_resp3}} <br>
        <br>
        
        5. {{pregunta5}}<br>
        <input type="radio" name="p5" value="5a"> {{p5_resp1}} <br>
        <input type="radio" name="p5" value="5b"> {{p5_resp2}} <br>
        <input type="radio" name="p5" value="5c"> {{p5_resp3}} <br>
        <br>
        
        6. {{pregunta6}}<br>
        <input type="radio" name="p6" value="6a"> {{p6_resp1}} <br>
        <input type="radio" name="p6" value="6b"> {{p6_resp2}} <br>
        <input type="radio" name="p6" value="6c"> {{p6_resp3}} <br>
        <br>
        
        7. {{pregunta7}}<br>
        <input type="radio" name="p7" value="7a"> {{p7_resp1}} <br>
        <input type="radio" name="p7" value="7b"> {{p7_resp2}} <br>
        <input type="radio" name="p7" value="7c"> {{p7_resp3}} <br>
        <br>
        
        8. {{pregunta8}}<br>
        <input type="radio" name="p8" value="8a"> {{p8_resp1}} <br>
        <input type="radio" name="p8" value="8b"> {{p8_resp2}} <br>
        <input type="radio" name="p8" value="8c"> {{p8_resp3}} <br> 
        <br>
        
        9. {{pregunta9}}<br>
        <input type="radio" name="p9" value="9a"> {{p9_resp1}} <br>
        <input type="radio" name="p9" value="9b"> {{p9_resp2}} <br>
        <input type="radio" name="p9" value="9c"> {{p9_resp3}} <br> 
        <br>
        
        10. {{pregunta10}}<br>
        <input type="radio" name="p10" value="10a"> {{p10_resp1}} <br>
        <input type="radio" name="p10" value="10b"> {{p10_resp2}} <br>
        <input type="radio" name="p10" value="10c"> {{p10_resp3}} <br>
        <br>
        
        <center> <button type="submit" class="button">Submit</button> </center>
    </form>
</body>
{% endblock %}
